.start_menu{
	width: 1200px;
	height: 700px;
	
}

.top{
	width: 100%;
	height: 120px;
	border: 1px solid black;
}

.superhot{
	margin-top: 30px;
	width: 150px;
	height: 150px;
	cursor: pointer;
}

.super_hot_game{
	display: none;
}